TABLE {
  border-collapse: collapse; /* 枠線の表示方法 */
  border: 1px #1C79C6 solid; /* テーブル全体の枠線（太さ・色・スタイル） */
}
TH {
  border: 1px black solid; /* セルの枠線（太さ・色・スタイル） */
}
TD {
  border: 1px black solid; /* セルの枠線（太さ・色・スタイル） */
}
